@model Product
<div class="container-fluid px-4">
    <h2 class="mt-4 text-center text-uppercase text-danger" style="letter-spacing:4px">Are You Sure Want to Delete This Product?</h2>
</div>
<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        @*  <img src="@("~/customer_images"+Model.customer_image)" asp-append-version="true" height="250px" width="250px" class="my-3" /> *@
        <ul class="list-group">
            <li class="list-group-item">Product Id : @Model.product_id</li>
            <li class="list-group-item">Product Name : @Model.product_name</li>
        </ul>
        <a href="@Url.Action("deleteProduct","Admin",new{id=Model.product_id})" class="btn btn-danger">Delete Product</a>
        <a href="@Url.Action("fetchProduct","Admin")" class="btn btn-warning">Back to List</a>
    </div>
    <div class="col-md-2"></div>
</div>

